<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:include filename="inertial_macros.xacro"/>

    <!-- Define Roomba-style robot properties. Example below shows the structure used to define xacro properties -->
    <xacro:property name="chassis_radius" value="0.18"/> <!-- Define all other required parameters in the same format -->
    
	<!-- Define material colours. An example for white is shown below -->
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>
    
	<!-- Define all of the robot links (base_link, chassis_link, wheels) -->
	
    <!-- BASE LINK -->
    
    <!-- BASE_FOOTPRINT LINK -->
    

    <!-- CHASSIS LINK -->
    
        
    <!-- LEFT WHEEL LINK -->


    <!-- RIGHT WHEEL LINK -->
    

    <!-- CASTER WHEEL LINK -->
    
</robot>